//Store Data with Sass Variables
$text-color: white;
$small: 15px;
$font-color: orange;

// Create Reusable CSS with Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Use @if and @else to Add Logic To Your Styles
@mixin border-stroke($val) {
  @if $val == light {
    border: 1px solid black;
  } @else if $val == medium {
    border: 3px solid black;
  } @else if $val == heavy {
    border: 6px solid black;
  } @else {
    border: none;
  }
}

//Use @for to Create a Sass Loop
@for $i from 1 to 6 {
  .text-#{$i} {
    font-size: 15px * $i;
  }
}

// Use @each to Map Over Items in a List
$colors: (color1: blue, color2: black, color3: red);

@each $key, $color in $colors {
  .#{$color}-bg {background-color: $color;}
}

// Nest CSS with Sass
.header {
  text-align: $text-color;
}
.blog-post {
  h2 {
    color: $text-color;
    font-size: $small;
  }
  p {
      color: $font-color;
  }
}

.blog-post {
  width: 150px;
  height: 150px;
  ////background-color: green;
  // Use Mixins with @include
  @include border-radius(5px);
  @include border-stroke(medium);
}
