@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #243b3b;
  font-family: 'Dosis', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.display {
  background-color: #f39c12;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 400px;

}

.display h1 {
  display: block;
  width: 100%;
  text-align: center;
}

.drum-pad {
  border: 2px solid #243b3b;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #e67e22;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 10px;
  height: 100px;
  width: 100px;
}

.drum-pad.active {
  opacity: 0.8;
  transform: scale(0.95);
}